  
 

  
<div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-1"></div>
        
  
        <div class="col-md-10">
                 <div class="jumbotron jumbotron-fluid" style="background: url('/uploads/background.jpg'); background-size: 100% 100%; ">
            <div class="container" style="text-align: center; color: black;">
              <h1 class="display-4 " >Deeplaid News</h1>
              <p class="lead">Find the latest news about Deeplaid laboratories limited</p>
            </div>
        </div>

          <!-- Blog Post -->

          {{#each Posts}}
          
          <div class="card mb-4">
            
              <h1 class="card-title " style="text-align: center;"><u>{{title}}</u></u></h1>
              
           
            <div class="card-body">
               
              

              <div class="square">

                <div>
                  <img style="width: 300px; height: 200px; float: left; margin-right: 10px;" src="{{file}}" alt="Card image cap">
                </div>
                <p class="card-text " style="text-align: justify;">{{description}}</p>
              
              </div>
            </div>
            <div class="card-footer text-muted">
            Posted on {{updatedAt}}
              
            </div>
          </div>
          {{/each}}


          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>

          </div>   
</div>
  
<div class="col-md-12 bg-dark">

            <div class="row">
              {{#each ContactInfo}}

              <div class="col-md-4 " style="margin-left: 100px; margin-top: 20px;">
                  
                   <a href="/"><h2 style="color:aqua;">{{companyName}}</h2></a>
                   <br>
                   <div style="margin-left: 50px;">
                  <h5 style="color:aqua;  ">{{houseNO}}, {{roadNo}}, {{area}} </h5>
                   <h5 style="color:aqua;   ">{{state}}, {{countryName}}</h5>
                   <br>
                  <h5 style="color:aqua;   ">Email </h5>
                    <h5 style="color: aqua;  ">{{email}}</h5>
                    <h5 style="color:aqua;   ">Web:</h5>
                    <h5 style="color: aqua;   ">{{weburl}}</h5>
                    </div>

              </div>
               <div class="col-md-4 " style=" margin-top: 20px;">
                  <a href="/contact"> <h2 style="color:aqua;   ">Contact Us </h2></a>
                  <br>
                    <div style="margin-left: 50px;">
                  <h5 style="color:aqua;  ">Head Office </h5>
                  <br>
                  
                  <h5 style="color:aqua;   ">Phone </h5>
                    <p style="color: aqua;   ">{{phoneno}}</p>
                    <h5 style="color:aqua;  ">Mobile</h5>
                    <p style="color: aqua;   ">{{mobile1}}</p>
                    <p style="color: aqua;   ">{{mobile2}}</p>
                    <h5 style="color:aqua;  ">Fax </h5>
                    <p style="color: aqua;  ">{{faxno}}</p>
                  </div>
              </div>
               <div class="col-md-3 " style=" margin-top: 20px;">
                  <h2 style="color:aqua; ">Social Media </h2>
                  <br>
                  <div style="margin-left: 50px;">
                  <a href="{{facebook}}"><h5 style="color:aqua; ">FaceBook </h5></a>
                  <a href="{{twiter}}"><h5 style="color:aqua; ">Twiter </h5></a>
                  <a href="{{instagram}}"><h5 style="color:aqua; ">Instagram </h5></a>
                  <a href="{{linkedIn}}"><h5 style="color:aqua; ">LinkedIn </h5></a>
                  
                  </div>
                    
              </div>

              {{/each}}
            </div>
            


</div>
        