<div class="col-md-12 bg-dark">

            <div class="row">
              {{#each ContactInfo}}

              <div class="col-md-4 " style="margin-left: 100px; margin-top: 20px;">
                  
                   <a href="/"><h2 style="color:aqua;">{{companyName}}</h2></a>
                   <br>
                   <div style="margin-left: 50px;">
                  <h5 style="color:aqua;  ">{{houseNO}}, {{roadNo}}, {{area}} </h5>
                   <h5 style="color:aqua;   ">{{state}}, {{countryName}}</h5>
                   <br>
                  <h5 style="color:aqua;   ">Email </h5>
                    <h5 style="color: aqua;  ">{{email}}</h5>
                    <h5 style="color:aqua;   ">Web:</h5>
                    <h5 style="color: aqua;   ">{{weburl}}</h5>
                    </div>

              </div>
               <div class="col-md-4 " style=" margin-top: 20px;">
                  <a href="/contact"> <h2 style="color:aqua;   ">Contact Us </h2></a>
                  <br>
                    <div style="margin-left: 50px;">
                  <h5 style="color:aqua;  ">Head Office </h5>
                  <br>
                  
                  <h5 style="color:aqua;   ">Phone </h5>
                    <p style="color: aqua;   ">{{phoneno}}</p>
                    <h5 style="color:aqua;  ">Mobile</h5>
                    <p style="color: aqua;   ">{{mobile1}}</p>
                    <p style="color: aqua;   ">{{mobile2}}</p>
                    <h5 style="color:aqua;  ">Fax </h5>
                    <p style="color: aqua;  ">{{faxno}}</p>
                  </div>
              </div>
               <div class="col-md-3 " style=" margin-top: 20px;">
                  <h2 style="color:aqua; ">Social Media </h2>
                  <br>
                  <div style="margin-left: 50px;">
                  <a href="{{facebook}}"><h5 style="color:aqua; ">FaceBook </h5></a>
                  <a href="{{twiter}}"><h5 style="color:aqua; ">Twiter </h5></a>
                  <a href="{{instagram}}"><h5 style="color:aqua; ">Instagram </h5></a>
                  <a href="{{linkedIn}}"><h5 style="color:aqua; ">LinkedIn </h5></a>
                  
                  </div>
                    
              </div>

              {{/each}}
            </div>
            

</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright  © Giyas Uddin © giyasuddin636@gmail.com © 01933932636  © 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 

<script>
    $(document).ready(function () {
       setTimeout(function () {
           $('.alert').slideUp(1000);
       },1000);
    });
</script>
</body>

</html>
