
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">masseges</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> All Masseges</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>

                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Massege</th>
                  <th>Recived Date</th>
                  <th>Action</th>
                
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Massege</th>
                  <th>Recived Date</th>
                  <th>Action</th>
                </tr>
              </tfoot>
              <tbody>
                {{#each Masseges}}  
                <tr>
                  <td>{{id}}</td>
                  <td>{{name}}</td>
                  <td>{{email}}</td>
                  <td>{{massegebody}}</td>
                  <td>{{createdAt}}</td>
                  <td>
                    <form action="/admin/cominfo/delete/{{id}}" method= "post">
                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                    </form>
                  </td>
                </tr>
               {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    